body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0.5em;
  background-color: #efefef;
}

button {
  padding: 0.25em 0.625em;
  border: 0;
  margin: 0.125em;

  background: linear-gradient(to bottom, #32a6cd, #2988a8);
  color: #e6e6e6;

  border-radius: 0.2em;
  box-shadow: 0 0 0.2em #277691;
}

h1 {
  margin: 0.5em 0;
  border-bottom: 1px solid #277691;
}

input {
  width: 100%; height: 1.5em;
  padding: 0.125em 0.25em;
  border: 1px solid #ccc;

  border-radius: 0.25em;
}

input:focus {
  border-color: #277691;
}

input[type=number] {
  width: 3.75em;
}

.hidden {
  display: none;
}

@media screen and (width > 324px) {
  input {
    width: 18.75em;
  }
}

@media screen and (width > 420px) {
  body {
    background: url('../img/background.png') repeat;
  }

  .app-container {
    width: 26.25em;
    margin: 0.5em auto;
  }
}
